.catalog-item {
    border: 1px solid #bdbdbd;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: #f4f4f4;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.catalog-item:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgba(51, 51, 51, 0.25);
    -moz-box-shadow: 0 5px 12px 0 rgba(51, 51, 51, 0.25);
    box-shadow: 0 5px 12px 0 rgba(51, 51, 51, 0.25);
}
.catalog-item:hover .catalog-item__title {
    text-decoration: underline;
}

.catalog-item .catalog-item__img{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 40%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    position: relative;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
    min-height: 300px;
    transition: .2s;
}

.catalog-item .catalog-item__img-color {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90px;
    padding: 8px 4px 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}
.catalog-item .catalog-item__img-color .catalog-item-img-wrapper {
    height: 55px;
}

.catalog-item-img-wrapper {
    position: relative;
    height: 80px;
    overflow: hidden;
}

.catalog-item-img-wrapper img {
    max-width: 100%;
}

.catalog-item .catalog-item__img-color > h4 {
    text-transform: uppercase;
    color: #868686;
    font-size: 10px;
    margin: 0 0 10px;
}

.catalog-item__top-left-bottom .price-line {
    border: none;
    border-top: 1px solid #e4e4e4;
}

.catalog-item .catalog-item__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 60%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog-item .catalog-item__top-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    text-decoration: none;
    color: #333;
    display: flex;
    width: 100%;
}

.catalog-item .catalog-item__top-left {
    width: 60%;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.catalog-item .catalog-item__top-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-bottom: 1px solid #e4e4e4;
}

.catalog-item .catalog-item__head-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.catalog-item .catalog-item__desc {
    color: #868686;
    font-family: ProximaNovaLight;
}

.catalog-item .catalog-item__title {
    text-transform: uppercase;
    color: #064a69;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-top: 2px;
    font-family: ProximaNovaExtrabold;
    font-size: 20px;
    line-height: 100%;
    margin: 4px 15px 4px 4px;
}

.catalog-item .catalog-item__top-left-top {
    padding: 20px;
}

.catalog-item .catalog-item__characteristics {
    margin: auto;
}

.catalog-item .catalog-item__characteristics .catalog-item__characteristic {
    margin-bottom: 20px;
    color: #868686;
    text-transform: uppercase;
    font-size: 11px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-item .catalog-item__characteristics .catalog-item__characteristic .catalog-item__characteristic-stars {
    margin-bottom: 0;
    margin-left: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item .catalog-item__characteristics .catalog-item__characteristic .catalog-item__characteristic-stars .icon-star {
    fill: #bdbdbd;
    font-size: 12px;
}

.catalog-item .catalog-item__full-price {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.catalog-item .catalog-item__full-price > span {
    font-size: 12px;
    color: #868686;
}

.catalog-item .catalog-item__full-price > p {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: ProximaNovaLight;
}

.catalog-item .catalog-item__color {
    position: relative;
    max-width: 100px;
    cursor: pointer;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
}
.catalog-item__color .catalog-item-img-wrapper .svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #fff;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out
}
.catalog-item__color .catalog-item-img-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.catalog-item__color.hover .catalog-item-img-wrapper::before, .catalog-item__color.hover .svg-icon {
    opacity: 1;
}

.catalog-item__bottom-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    text-decoration: none;
    color: #333;
    display: -ms-flexbox;
    background-color: #fff;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 18px 10px 18px 18px;
}

.color_arrow:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5) url(/assets/common/img/color_success.png) no-repeat center bottom 20px;
}

.catalog-item .catalog-item__color > h4 {
    min-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #868686;
    margin: 0 0 5px;
}


/* country */
.country-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}
.country-line:hover > span {
    border-bottom: 1px dashed transparent;
}
.country-line > img {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}
.country-line > span {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px dashed #333;
}

/* price */
.price-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
    height: 58px;
}
.price-line .price-line__part-price, .price-line .price-line__full-price {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    background-color: #e4e4e4;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 172px;
}
.price-line .price-line__full-price {
    background-color: transparent;
}
.price-line .price-line__part-price strong {
    font-size: 24px;
    margin-top: 2px;
}
.price-line a, .price-line span {
    font-size: 12px;
    font-family: ProximaNovaLight;
    color: #868686;
    text-decoration: none;
}
.price-line .price-line__full-price > p {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: ProximaNovaLight;
}

@media screen and (max-width: 1100px) {
    .catalog-item .catalog-item__top-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .catalog-item .catalog-item__img {
        flex: 1 1 50%;
    }
    .catalog-item .catalog-item__top-left, .catalog-item .catalog-item__top-right {
        width: 100%;
        border-right: none;
    }
    .catalog-item .catalog-item__top-left-top {
        padding: 10px;
    }
    .catalog-item .catalog-item__characteristics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 5px;
    }
    .catalog-item .catalog-item__characteristics .catalog-item__characteristic {
        margin: 5px;
    }
}

@media screen and (max-width: 900px) {
    .catalog-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
        margin: 0 auto 25px;
    }
    .catalog-item .catalog-item__img {
        min-height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .catalog-item .catalog-item__img{
        min-height: 200px;
    }
    .price-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    .price-line__part-price, .price-line__full-price {
        padding: 10px 5px;
    }
    .price-line a, .price-line span {
        font-size: 18px;
    }
    .price-line .price-line__full-price > p {
        font-size: 30px;
    }
    .catalog-item .catalog-item__img-color {
        top: 5px;
        left: 5px;
        bottom: auto;
    }
    .catalog-item__bottom-col {
        padding: 5px 10px;
    }
}