.advantage-content {
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}
.advantage-line tbody {
    vertical-align: top;
}
.advantage-line__head {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
.advantage-line__head span {
    display: inline-block;
    margin: 0 14px;
    color: #888;
    font-size: 12px;
}
.advantage-line__head span::before, .advantage-line__head span::after {
    position: absolute;
    content: "";
    top: 11px;
    width: calc(50% - 80px);
    height: 1px;
    background-color: #e4e4e4;
}
.advantage-line__head span::before {
    left: 0;
}
.advantage-line__head span::after {
    right: 0;
}
.advantage-line__title {
    min-width: 115px;
    font-size: 12px;
    line-height: 1.2;
    color: #868686;
    padding: 0;
    text-transform: uppercase;
}
.advantage-line__cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.advantage-line__cards li {
    margin-right: 10px;
    margin-bottom: 10px;
}
.advantage-line__text {
    font-size: 13px;
    line-height: 1.2;
    color: #333;
    padding-bottom: 25px;
}
.advantage-line__popup {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 0;
    color: #064A69;
    font-family: ProximaNovaSemibold;
    text-decoration: underline;
    cursor: pointer;
}
.advantage-line__popup:hover {
    text-decoration: none;
}