body.popup-open {
    overflow: hidden;
}

.review-line {
    border-bottom: 1px solid #e4e4e4;
    padding: 40px 0;
}
.review-line__head {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.review-line__head  .title-accent {
    font-size: 24px;
    margin-right: 20px;
}
.review-line__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.review-line__discount {
    position: relative;
    background-color: #A50050;
    padding: 8px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
    max-width: 430px;
    margin-right: 10px;
    text-transform: uppercase;
}
.review-line__discount::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #a50050;
    right: -6px;
    top: 50%;
    margin-top: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.review-line__discount span {
    font-family: ProximaNovaBold;
}
.review-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.review-grid .popup-link {
    width: 33%;
    cursor: pointer;
    padding: 5px;
}
.review-item {
    padding: 10px 15px;
    background-color: #fff;
}
.review-item__img img {
    width: 100%;
}
.review-item__content {
    padding: 10px 0px;
}
.review-item__name {
    margin: 5px 0 10px;
    font-weight: 600;
}
.review-item__rating {
    margin-bottom: 15px;
}

.popup-review-send {
    padding: 15px;
}

.popup-review {
    max-width: 1500px;
    background-color: transparent;
}
.popup-review .popup-close {
    top: -5px;
    right: -5px;
    color: #333;
}
.popup-review__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.popup-review__img {
    padding: 15px;
    background-color: #fff;
    margin: 0 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
}
.popup-review__img img {
    width: 100%;
}
.popup-review__content {
    padding: 15px;
    background-color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    max-width: 400px;
}
.popup-review__name {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}
.popup-review .stars-line {
    margin-bottom: 15px;
}
.form-review .form-wrap .label-wrap {
    width: 100%;
    max-width: 100%;
}
.form-review .form-wrap .label-text textarea {
    height: 160px;
}
.form-review .form-wrap .label-text {
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .popup-review__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .popup-review__content, .popup-review__img {
        max-width: 100%;
        width: 100%;
        margin: 0 0 10px;
    }
    .popup-review .popup-close {
        top: -45px;
        right: -10px;
        color: #fff;
    }
}

@media screen and (max-width: 800px) {
    .review-line__head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .review-line__title .popup-link {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        min-width: 170px;
    }
    .review-line__discount {
        margin: 0 0 0 20px;
    }
    .review-line__discount::after {
        right: auto;
        left: -6px;
    }
    .review-grid .popup-link {
        width: 50%;
    }
    .advantage-content {
        padding-bottom: 0;
        border-bottom: none;
    }
    .options-line {
        margin-top: 15px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper_inner .content_1_wrapper .content_right {
        padding: 15px;
    }
}