.assortment-line__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.assortment-line__wrap .svg-icon {
    height: 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    fill: #A50050;
    margin-right: 15px;
    margin-bottom: 15px;
}
.assortment-line__wrap .svg-icon.svg-icon-2x {
    font-size: 50px;
}
.assortment-line__wrap .svg-icon.svg-icon-3x {
    width: 77px;
}
.assortment-line__wrap .svg-icon.svg-icon-anglechilr {
    width: 78px;
}
.assortment-line__wrap .svg-icon.svg-icon-armchair {
    width: 30px;
}
.assortment-line__wrap .svg-icon.svg-icon-chair {
    width: 15px;
}
.assortment-line__wrap .svg-icon-komplekty {
    width: 60px;
}