.personal-selection {
    padding: 40px 0;
    border-bottom: 1px solid #e4e4e4;
}
.personal-selection .form-callme {
    padding-bottom: 0px;
}
.personal-selection .title-accent {
    font-size: 24px;
}
.personal-selection__desc {
    margin-bottom: 20px;
}
.personal-selection__wrap {
    text-align: center;
}
.personal-selection__strong {
    color: #a50050;
    font-family: ProximaNovaExtrabold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.personal-selection__icon {
    position: relative;
    width: 100%;
    height: 14px;
    background-image: url(images/arrow_drop.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 15px;
}

.drop-zone {
    position: relative;
    max-width: 380px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150px;
    margin: 0 auto 20px;
    border: 2px dashed #bdbdbd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-image: url(images/drop.png);
    background-repeat: no-repeat;
    background-position: center 40%;
}
.drop-zone__text {
    margin-top: 110px;
    color: #868686;
}
.drop-zone__text:hover a {
    text-decoration: none;
}
.drop-zone__text > a {
    color: #064a69;
    font-weight: 700;
}
.personal-selection__text {
    text-transform: uppercase;
    color: #868686;
    margin-bottom: 25px;
    font-size: 14px;
}
.personal-selection__free {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .personal-selection {
        padding-bottom: 10px;
    }
    .personal-selection .form-callme {
        padding-bottom: 10px;
    }
}