.aboutus {
    padding: 40px 0;
}
.aboutus__head {
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
}
.aboutus__desc {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 50px;
}
.aboutus-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    background-color: #f7f7f7;
    padding: 50px 0;
    margin-bottom: 50px;
}
.aboutus__item {
    position: relative;
    padding: 10px 15px 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.aboutus__item .svg-icon {
    font-size: 40px;
    fill: #a50050;
}
.aboutus__item-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: 400;
}
.aboutus__item-desc {
    max-width: 260px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.6;
}

.aboutus__subtitle {
    position: relative;
    text-align: center;
    color: #555;
    font-size: 24px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.aboutus__subtitle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: 0;
    left: -webkit-calc(50% - 15px);
    left: -moz-calc(50% - 15px);
    left: calc(50% - 15px);
    text-align: center;
    background-color: #a50050;
}
.aboutus__subdescq {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}
.aboutus__text {
    font-size: 13px;
    color: #666;
    line-height: 1.5;
    padding: 0 15px 40px;
}
.aboutus__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.aboutus__wrap .aboutus__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 48%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 48%;
    flex: 1 1 48%;
    padding-bottom: 20px;
    width: 48%;
    padding-right: 15px;
}

.aboutus-paralax {
    position: relative;
    background-image: url(./images/bg.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 320px;
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.aboutus-paralax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: -1;
}
.aboutus-paralax__item {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    text-align: center;
    min-width: 150px;
}
.aboutus-paralax__item .svg-icon {
    font-size: 40px;
    margin-bottom: 10px;
}
.aboutus-paralax__count {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.aboutus-paralax__head {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}

.aboutus-reviews {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 40px 15px;
}
.aboutus-reviews__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #eee;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.aboutus-reviews__item:hover {
    border-bottom: 3px solid #c6bfb8;
}
.aboutus-reviews .aboutus-reviews__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
    margin-right: 40px;
}
.aboutus-reviews .aboutus-reviews-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
}
.aboutus-reviews__img {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 80px;
    -moz-box-flex: 1;
    -ms-flex: 1 1 80px;
    flex: 1 1 80px;
    min-width: 80px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.aboutus-reviews__img img {
    width: 100%;
}
.aboutus-reviews__desc {
    margin-top: 0;
    color: #666;
    font-size: 13px;
    line-height: 1.4;
}
.aboutus-reviews__name {
    display: block;
    margin: 10px 0 0;
}
.aboutus-reviews .aboutus-reviews-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
}

.aboutus__suppliers {
    font-size: 13px;
    line-height: 1.5;
    max-width: 900px;
    margin: 10px auto;
}

@media screen and (max-width: 800px) {
    .aboutus-reviews {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 10px;
    }
}

@media screen and (max-width: 620px) {
    .aboutus {
        padding: 30px 15px;
    }
    .aboutus__desc {
        margin-bottom: 10px;
    }
    .aboutus-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 0 0px;
    }
    .aboutus-paralax__item {
        margin-bottom: 10px;
    }
    .aboutus-paralax__item .svg-icon {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .aboutus__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .aboutus__wrap .aboutus__col {
        width: 100%;
        padding-right: 0;
    }
    .aboutus-reviews .aboutus-reviews__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0;
    }
    .aboutus-reviews__img {
        margin: 0 auto 20px;
    }
}