.delivery {
    font-family: 'Open Sans', sans-serif;
    padding: 40px 15px;
    color: #444;
}
.delivery__head {
    font-size: 33px;
    font-weight: 500;
    text-align: center;
}
.delivery__text {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    display: block;
}
.delivery__table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    color: #666;
    margin-bottom: 30px;
}
.delivery__table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 13px;
    line-height: 1.4;
}
.delivery__text--small {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
    .delivery .delivery__table {
        width: 100%;
    }
    .delivery .delivery__table tbody {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .delivery .delivery__table tbody > tr:first-child {
        width: 30%;
        min-width: 120px;
    }
    .delivery .delivery__table tbody > tr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 70%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .delivery .delivery__table tbody > tr td {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        height: 110px;
    }
}